﻿
<form action="/Home/AddHistoria" method="post">


    <div class="form-group">
        <label>Codigo Registro</label>
        <input class="input" type="text" name="codigoRegistro">
    </div>

    <div class="form-group">
        <label>Nombre Mascota</label>
        <input class="input" type="text" name="nombreMascota">
    </div>

    <div class="form-group">
        <label>Fecha Registro</label>
        <input type="date" name="fechaRegistro">
    </div>

    <div class="form-group">
        <label>Fecha Nacimiento</label>
        <input type="date" name="fechaNacimiento">
    </div>

    <div class="form-group">
        <label>Sexo</label>
        <select name="sexo">
            <option value=femenino>femenino</option>
            <option value=masculino>masculino</option>
        </select>
    </div>

    <div class="form-group">
        <label>Especie</label>
        <select name="sexo">
            <option value= perro>perro</option>
            <option value= gato>gato</option>
            <option value= raton>raton</option>
        </select>
    </div>

    <div class="form-group">
        <label>Raza</label>
        <select name="sexo">
            <option value=Pitbull>Pitbull </option>
            <option value=Persa>Persa</option>
            <option value=Otro>Otro</option>
        </select>
    </div>

    <div class="form-group">
        <label>Tamaño</label>
        <input class="input" type="text" name="tamano">
    </div>

    <div class="form-group">
        <label>Datos Particulares</label>
        <textarea class="input" type="text" placeholder="Datos Particulares" name="datosParticulares"></textarea>
    </div>

    <div class="form-group">
        <label>Nombre Propietario</label>
        <input class="input" type="text" name="nombrePropietario">
    </div>

    <div class="form-group">
        <label>Direccion</label>
        <input class="input" type="text" name="direccion">
    </div>

    <div class="form-group">
        <label>Telefono</label>
        <input class="input" type="text" name="telefono">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="input" type="text" name="email">
    </div>

    <button class="btn btn-primary">Guardar</button>
</form>

