﻿@{
    ViewData["Title"] = "Lista de historias";
}

<div class="text-center">
    <table>
        <tr>
            <td><strong>Codigo De Registro</strong></td>
            <td><strong>Fecha Registro</strong></td>
            <td><strong>Nombre De La Mascota</strong></td>
            <td><strong>Fecha Nacimiento De La Mascota</strong></td>
            <td><strong>Sexo</strong></td>
            <td><strong>Especie</strong></td>
            <td><strong>Raza</strong></td>
            <td><strong>Tamaño</strong></td>
            <td><strong>Datos Particulares</strong></td>
            <td><strong>Nombre Del Dueño</strong></td>
            <td><strong>Direccion</strong></td>
            <td><strong>Telefono</strong></td>
            <td><strong>Email</strong></td>
        </tr>

        @foreach (var item in ViewBag.Lista)
        {
    <tr>
        <td>@item.codigoRegistro</td>
        <td>@item.fechaRegistro</td>
        <td>@item.nombreMascota</td>
        <td>@item.fechaNacimiento</td>
        <td>@item.sexo</td>
        <td>@item.especie</td>
        <td>@item.raza</td>
        <td>@item.tamano</td>
        <td>@item.datosParticulares</td>
        <td>@item.nombrePropietario</td>
        <td>@item.direccion</td>
        <td>@item.telefono</td>
        <td>@item.email</td>
    </tr>
                }
            
        </table>
</div>
<a href="/Home/AddHistoria">Agregar nueva historia</a> |
